/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');
app-navbar{
    position: sticky;
    top: 0;
    z-index:1;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Belanosima', sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
